.person {
  position: relative;

  line-height: 0;

  &__pic {
    width: 100%;
  }

  &__name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;

    background: rgba(0, 0, 0, 0.5);

    color: white;
    font-size: 1.2em;
    text-align: center;
  }
}
